.row
  .col-md-12
    .card
      .card-block
        .card-title
          %h1 Help


        %h4 What are Take Orders?
        %p Take Orders are sales that you make door-to-door, in which neighbors choose popcorn and pay for items that will be delivered around October 15.

        %h4 Once I have taken an order, what do I do?
        %p Enter the details of the customer and the product sold on your order form. If you want to see a total of your sales, you can also enter them on this site. Once you turn in your order form and money, all your take orders will be shown on this site, so you can easily see where you need to deliver the popcorn product when we have it available.

        %h4 Who do I give my Take Order order sheet and money to?
        %p Take Order order sheets and money can be dropped off at the following location:
        %ul
          %li Carson Cole, 1760 Susan Place NW
          %li Nathan Ostereich, XXX
          %li Andrea Wilson, XXX
          %li Candace Luckman, XXX


        %p.card-text
          Are missing Take Orders or Site Sales? Have your parent either talk to your den leader or send an email to
          = mail_to "carson.cole@gmail.com"

