.row
  .col-md-12
    .card
      .card-block
        .card-title
          %h1 Help


        %h4 How do I do door-to-door sales?
        %p With door-to-door sales you'll be interacting with your neighbors, and since you are asking for their support, its important to proudly wear your full Scout uniform. Bring your order form, and introduce yourself. You could say "Hello, my name is John, and I am a Cub Scout with Pack 4496. I am raising money through the sale of popcorn for our Pack and to help me go to summer camp. Can I show you the popcorn we have?"

        %p If a neighbor decides to buy, make sure you record all of the details on your order form. Collect the money, and make sure you say how much you appreciate their support, such as "Thank you for your support".

        %h4 What are Take Orders?
        %p Take Orders are sales that you make door-to-door, in which neighbors choose popcorn and pay for items that will be delivered around October 15.

        %h4 Once I have taken an order, what do I do?
        %p Enter the details of the customer and the product sold on your order form. If you want to see a total of your sales, you can also enter them on this site. Once you turn in your order form and money, all your take orders will be shown on this site, so you can easily see where you need to deliver the popcorn product when we have it available.

        %h4 When will Take Orders be delivered?
        %p Take Orders will be available for delivery sometime between October 17 and November 5. We will send you an email telling you when its avaiable for pickup.

        %h4 Who do I give my Take Order order sheet and money to?
        %p Take Order order sheets and money can be dropped off at the following location:
        %ul
          %li Carson Cole, 1760 Susan Place NW
          %li Nathan Ostereich, XXX
          %li Andrea Wilson, XXX
          %li Candace Luckman, XXX


        %p.card-text
          Are missing Take Orders or Site Sales? Have your parent either talk to your den leader or send an email to
          = mail_to "carson.cole@gmail.com"

