- if @unit.treasurer_first_name
  %p= 'Hello ' + @unit.treasurer_first_name + ','

%p= 'A deposit of ' + number_to_currency(@ledger.amount.abs).to_s + ' was made into ' + @sibling_ledger.account.name + ' on ' + @ledger.date.strftime("%B %d, %Y").to_s + ' by ' + @scout.name + ' from ' + @ledger.account.name + '.'

%p
  = @scout.unit.name
  %br
  Corn Cub