.row
  .col-md-6
    .card
      .card-block
        .card-title
          %h1 Payment Methods

        %table.table
          %thead
            %tr
              %th Name
              %th Is active
              %th Is Cash
              %th

          %tbody
            - @payment_methods.each do |payment_method|
              %tr
                %td
                  = link_to payment_method.name, edit_payment_method_path(payment_method)
                %td
                  - if payment_method.is_active
                    %i.fa.fa-check
                %td
                  - if payment_method.is_cash
                    %i.fa.fa-check
                %td
                  - if @unit.take_orders.where(payment_method_id: payment_method.id).empty?
                    = link_to 'Destroy', payment_method, :method => :delete, :data => { :confirm => 'Are you sure?' }


.row
  .col-md-6
    = link_to new_payment_method_path do
      %i.fa.fa-plus.fa-lg
