.row
  .col-md-12
    .card
      .card-block
        .pull-right
          = link_to "#", onclick: 'window.print();return false;' do
            %i.fa.fa-print.fa-lg 
        .card-title
          %h5
            Popcorn Transfer
        %table.table.table-sm.table-striped.small
          %thead
            %tr
              %th Product
              %th.text-xs-center Retail Price
              %th Quantity

          %tbody
            - total = 0
            %tr
              %td(colspan=3)

            - @products.each do |product|
              %tr
                %td= product.name
                %td.text-xs-center= number_to_currency(product.retail_price)
                %td.cell-bordered

        .row
          .col-md-12
            %table.table.table-sm.small
              %tr
                %th From:
                %td
                %th Date/Time:
                %td
                %th Note:
                %td
              %tr
                %th To:
                %td
                %th Received by:
                %td
                %th Signature:
                %td
