- if @active_event && @active_event.important_dates?
  .card.important_dates
    .card-block
      %h5.card-title Important Dates

      %ul.important_dates.card-text
        - if @active_event.take_orders_deadline_at && @active_event.is_take_orders_enabled
          %li
            Take orders end:
            = @active_event.take_orders_deadline_at.strftime("%b %e")
        - if @active_event.prize_cart_ordering_starts_at && @active_event.prize_cart_ordering_ends_at && @active_event.is_prizes_enabled
          %li
            Prize ordering:
            = @active_event.prize_cart_ordering_starts_at.strftime("%b %-d")
            = '-'
            = @active_event.prize_cart_ordering_ends_at.strftime("%-d")

  %br