- if @active_event && @active_event.is_prizes_enabled? && @active_event.prizes?
  .card
    .card-block
      .card-title
        %h5 
          Prizes to Earn
          %i.fa.fa-bullhorn
          %i.fa.fa-soccer-ball-o
          %i.fa.fa-rocket
          %i.fa.fa-gamepad
          %i.fa.fa-gift

      %p.card-text.small.text-muted Earn prizes based on the sales you achieve.

      %table.table.table-sm.card-text
        - @prizes.each do |prize|
          %tr
            %td= prize.name
            %td.text-right= number_to_currency(prize.amount)

      - if @active_event.prize_cart_ordering_starts_at && @active_event.prize_cart_ordering_starts_at < Time.now && @active_event.prize_cart_ordering_ends_at > Time.now
        %hr
        %div.card-text
          = link_to prize_cart_path(current_scout.prize_cart(@active_event)) do
            Order prizes
            %i.fa.fa-long-arrow-right
            %i.fa.fa-shopping-cart
            Prize Cart
    .card-footer.text-center
      = link_to "See all Prizes", prizes_path
  %br