- if @active_event && @resources.any?
  .card
    .card-block
      %h5.card-title More info

      %ul.card-text
        - @resources.each do |resource|
          %li.resource
            = link_to resource.url do
              = resource.name
              %i.fa.fa-external-link