.card
  .card-block
    .card-text
      
      .important
        %i.fa.fa-exclamation-circle
        &nbsp;Important!
      Your
      = @active_event.name
      event does not have any popcorn product. You can add products to the
      = link_to "Popcorn Catalog", products_path
      individually, or you can load a preset group of products.