
.card
  .card-block
    .card-text
      
      %i.fa.fa-exclamation-circle.important
        &nbsp;Important!
      Your
      = @active_event.name
      event does not have any prizes programmed and your event has been configured to offer prizes. You can add prizes on the
      = link_to "Prizes page", prizes_path
      individually, or you can load a preset group of prizes.