- if @active_event
  .card
    .card-block
      %h5.card-title.site-sales Site Sales Upcoming

      - if @site_sales.any?
        %table.table.card-text.table-sm
          - @site_sales.each do |site_sale|
            %tr
              %td.site_sale_date= site_sale.date.strftime('%b %-d')
              %td.site_sale_name= site_sale.name
      - else
        %p.card-text No Site Sales have been scheduled.
    .card-footer.text-center
      = link_to "View Site Sales", site_sales_path