- if current_scout.is_site_sales_admin?
  .card.site_sales_cash
    .card-block
      %h5.card-title Site Sales Cash

      %p.card-text
        Balance:
        = number_to_currency(@site_sales_cash)

      - if @site_sales_cash > 0
        %p.card-text.small
          Please deposit cash as soon as possible and record the deposit in
          = succeed(".") do
            = Rails.configuration.application_name
          An email notification will be sent to your Unit Treasurer.
        %p.card-text  
          = link_to "Record a deposit", bank_deposit_path

