- if current_scout.is_take_orders_admin?
  .card.take_orders_cash
    .card-block
      %h5.card-title Take Orders Cash

      %p.card-text
        Balance:
        = number_to_currency(@take_orders_cash)

      - if @take_orders_cash > 0
        %p.card-text.small
          Please deposit cash as soon as possible and record the deposit in
          = succeed(".") do
            = Rails.configuration.application_name
          An email notification will be sent to your Unit Treasurer.
        %p.card-text  
          = link_to "Record a deposit", new_bank_deposit_path
