- if @active_event
  .card
    .card-block
      %h5.card-title Upcoming Site Sales

      - if @site_sales.any?
        %ul.card-text
          - @site_sales.each do |site_sale|
            %li.site_sale
              = site_sale.name + ' - ' + site_sale.date.strftime('%b %-d')
      - else
        %p.card-text No Site Sales have been scheduled.