- if @unit.events.active.empty?
  .card
    .card-block
      .card-text
        
        .important
          %i.fa.fa-exclamation-circle
          &nbsp;Important!
        You do not have any Events defined. Without an Event, the option for Scouts to sign up will not be available on the login page.