
.card
  .card-body
    .card-text
      
      .important
        %i.fa.fa-exclamation-circle
        &nbsp;Important!
      Scouts will have the event they see changed to any new event, unless 'Is Active' is de-selected below.