- if @unit.events.active.empty?
  .card
    .card-block
      .card-text
        
        .important
          %i.fa.fa-exclamation-circle
          &nbsp;Important!
        You need to create an Event before any additional Scout or Administrator accounts can be created.