Thank You

================================

= @scout.unit.name
thanks you for your support.

- @take_order.take_order_line_items.each do |line_item|
  = line_item.product.name
  = surround("(", ")") do
    = line_item.quantity