Thank You

================================

Pack 4496 on Bainbridge Island thanks you for your support and in helping a Scout earn his way to Summer Camp.

We have received your order and expect to deliver it by October 20, 2016.

- @take_order.take_order_line_items.each do |line_item|
  = line_item.product.name
  = surround("(", ")") do
    = line_item.quantity


If you have any questions, you can reach us at pack4496@gmail.com