.row
  .col-md-6
    .card
      .card-block
        .card-title
          %h2 
            New
            = @active_event.name
            resource
        %p.small
          %i.fa.fa-info-circle
          You can add resources for users to link to or download, such as a prize form, instructions etc.

        = render 'form'