!!!
%html
  %head
    %meta(content="text/html; charset=UTF-8" http-equiv='Content-Type')
  %body
    %h1{style: 'text-align:center'}
      = Rails.configuration.application_name
      Registration
    %p The following Scout was registered:

    %ul
      %li
        Scout:
        = @scout.name
      %li
        Unit:
        = @scout.unit.name
      %li
        Email:
        = @scout.email