.row
  .col-md-6
    .card
      .card-body
        %h1.card-title Create a new Scout Unit

        %p.card-text.text-muted.small
          %i.fa.fa-info-circle
          Create a new Scout Unit with an Adminstrator account.


        = render 'form'