.row
  .col-md-6
    .card
      .card-block
        .card-title
          %h1= @unit.name

        %p
          = link_to edit_unit_path do
            %i.fa.fa-pencil

        %table.table
          %tr
            %th Treasurer
            %td.text-xs-right= @unit.treasurer_name

          %tr
            %th Treasuer Email
            %td.text-xs-right= @unit.treasurer_email





