.row
  .col-md-12
    %h2= @unit.name


.row
  - @unit.events.active.each do |event|
    .col-md-4
      .card
        .card-block
          .card-title
            %h5.h5
              = event.name
              Top Sellers

