body {
  margin-top: 5em;
  background-color: #efefef;
}
.page-title {
  margin-bottom: 1.5em;
}
a.kill {
  color: #FCD116;
  &:visited {
    color: #FCD116;
  }
}
.navbar-toggler {
  color: #ffffff;
}