- if target.errors.any?
  .row
    .col-md-8
        
      .alert.alert-danger
        %p Please fix the errors below:
        %ul.errors
          - target.errors.full_messages.each do |msg|
            %li.text-error= msg