.card
  .card-block
    .card-title
      %h2 Get started

    %ol
      - unless @active_event
        %li
          = link_to "Create an Event", new_event_path

      - unless @unit.treasurer?
        %li  
          = link_to "Add a Treasurer", edit_unit_path(@unit)
      
      - unless @active_event && @active_event.bank_account?
        - if @active_event && !@active_event.bank_account? 
          %li
            = link_to "Add a Bank Account", new_account_path
        - else
          %li
            Add a Bank Account

      %li  
        - if @unit.invitable?
          = link_to "Invite Scouts to sign up", invite_scouts_path
        - else
          Invite Scouts to sign up