
.card
  .card-block
    .card-title
      %h1 
        Hello
        = succeed("!") do
          = current_scout.first_name
    
    %p.lead
      Welcome to
      = succeed("'s") do
        = @unit.name
      Corn Cub.


    %span.tag.tag-danger
      IMPORTANT

    Our Popcorn Sales event ends October 16. Take Order Forms must be turned in by Sunday, October 16.


