.card
  .card-block
    .card-text
      
      .important
        %i.fa.fa-exclamation-circle
        &nbsp;Important!
      Once you create a product, the retail price can not be changed if the product has been used in any type of sale.