!!!
%html
  = render 'head'
  
  %body
    .hidden_print=render 'application/nav' if scout_signed_in?
    .container-fluid
      .hidden_print= render 'flash'
      = yield
      / = render 'debugging'
