.row
  .col-md-12
    .card
      .card-block
        .card-title
          %h3 Accounts

        %table.table
          %thead
            %tr
              %th Name
              %th Balance
              %th.text-xs-center
                Take
                %br
                Orders
              %th.text-xs-center
                Site
                %br
                Sales
              %th.text-xs-center
                Bank
                %br
                Depositable

              %th
          %tbody
            - @accounts.each do |account|
              %tr
                %td
                  = link_to account.name, ledgers_path(account_id: account.id)
                  - if account.is_credit_card?
                    %i.fa.fa-credit-card
                  - if account.is_cash?
                    %i.fa.fa-money
                  - if account.is_bank_account_depositable?
                    %i.fa.fa-university
                %td= number_to_currency(account.balance)
                %td.text-xs-center
                  - if account.is_take_order_eligible?
                    %i.fa.fa-check
                %td.text-xs-center
                  - if account.is_site_sale_eligible?
                    %i.fa.fa-check
                %td.text-xs-center
                  - if account.is_bank_account_depositable?
                    %i.fa.fa-check
                %td= account.account_type
                %td
                  - unless account.is_master_account?
                    = link_to edit_account_path(account) do
                      %i.fa.fa-pencil.fa-lg

        %br
